USE [master]
GO
/****** Object:  Database [Practica01]    Script Date: 5/9/2025 13:31:55 ******/
CREATE DATABASE [Practica01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Practica01.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Practica01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Practica01_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica01]
GO
/****** Object:  UserDefinedTableType [dbo].[PedidoItemTVP]    Script Date: 5/9/2025 13:31:55 ******/
CREATE TYPE [dbo].[PedidoItemTVP] AS TABLE(
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL
)
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Activo] [bit] NOT NULL CONSTRAINT [DF_Clientes_Activo]  DEFAULT ((1)),
	[FechaAlta] [datetime2](7) NOT NULL CONSTRAINT [DF_Clientes_FechaAlta]  DEFAULT (sysdatetime()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoItems]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PedidoItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Productos]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Activo] [bit] NOT NULL CONSTRAINT [DF_Productos_Activo]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_PedidoItems_Pedido]    Script Date: 5/9/2025 13:31:55 ******/
CREATE NONCLUSTERED INDEX [IX_PedidoItems_Pedido] ON [dbo].[PedidoItems]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PedidoItems_Producto]    Script Date: 5/9/2025 13:31:55 ******/
CREATE NONCLUSTERED INDEX [IX_PedidoItems_Producto] ON [dbo].[PedidoItems]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedidos_Cliente_Fecha]    Script Date: 5/9/2025 13:31:55 ******/
CREATE NONCLUSTERED INDEX [IX_Pedidos_Cliente_Fecha] ON [dbo].[Pedidos]
(
	[ClienteId] ASC,
	[Fecha] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedidos] ADD  CONSTRAINT [DF_Pedidos_Fecha]  DEFAULT (sysdatetime()) FOR [Fecha]
GO
ALTER TABLE [dbo].[PedidoItems]  WITH CHECK ADD  CONSTRAINT [FK_PedidoItems_Pedidos] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[PedidoItems] CHECK CONSTRAINT [FK_PedidoItems_Pedidos]
GO
ALTER TABLE [dbo].[PedidoItems]  WITH CHECK ADD  CONSTRAINT [FK_PedidoItems_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[PedidoItems] CHECK CONSTRAINT [FK_PedidoItems_Productos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes]
GO
/****** Object:  StoredProcedure [dbo].[spClientes_Actualizar]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spClientes_Actualizar]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Email  NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Clientes SET Nombre = @Nombre, Email = @Email WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[spClientes_Agregar]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spClientes_Agregar]
    @Nombre NVARCHAR(100),
    @Email  NVARCHAR(200) = NULL,
    @NuevoId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Clientes (Nombre, Email) VALUES (@Nombre, @Email);
    SET @NuevoId = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[spClientes_BajaLogica]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spClientes_BajaLogica]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Clientes SET Activo = 0 WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[spClientes_Listar]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spClientes_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Nombre, Email, Activo, FechaAlta FROM dbo.Clientes WHERE Activo = 1 ORDER BY Nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[spClientes_Obtener]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spClientes_Obtener]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Nombre, Email, Activo, FechaAlta FROM dbo.Clientes WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[spPedidos_Crear]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==== TRANSACCIONAL: PEDIDOS ==== */
CREATE  PROCEDURE [dbo].[spPedidos_Crear]
    @ClienteId INT,
    @Items dbo.PedidoItemTVP READONLY,
    @PedidoId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- Validaciones básicas
        IF NOT EXISTS(SELECT 1 FROM dbo.Clientes WHERE Id = @ClienteId AND Activo = 1)
        BEGIN
            RAISERROR ('Cliente no válido/activo', 16, 1);
        END

        -- Validar stock
        IF EXISTS (
            SELECT 1
            FROM @Items i
            JOIN dbo.Productos p ON p.Id = i.ProductoId
            WHERE p.Stock < i.Cantidad OR p.Activo = 0
        )
        BEGIN
            RAISERROR ('Stock insuficiente o producto inactivo', 16, 1);
        END

        DECLARE @Total DECIMAL(18,2) = (SELECT SUM(Cantidad * PrecioUnitario) FROM @Items);
        INSERT INTO dbo.Pedidos (Fecha, ClienteId, Total) VALUES (SYSDATETIME(), @ClienteId, @Total);
        SET @PedidoId = SCOPE_IDENTITY();

        INSERT INTO dbo.PedidoItems (PedidoId, ProductoId, Cantidad, PrecioUnitario)
        SELECT @PedidoId, ProductoId, Cantidad, PrecioUnitario FROM @Items;

        -- Actualizar stock (restar)
        UPDATE p
        SET p.Stock = p.Stock - i.Cantidad
        FROM dbo.Productos p
        JOIN @Items i ON i.ProductoId = p.Id;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@msg, 16, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spPedidos_Listar]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spPedidos_Listar]
    @Desde DATETIME2 = NULL,
    @Hasta DATETIME2 = NULL,
    @ClienteId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT p.Id, p.Fecha, p.ClienteId, c.Nombre AS Cliente, p.Total
    FROM dbo.Pedidos p
    JOIN dbo.Clientes c ON c.Id = p.ClienteId
    WHERE (@Desde IS NULL OR p.Fecha >= @Desde)
      AND (@Hasta IS NULL OR p.Fecha <= @Hasta)
      AND (@ClienteId IS NULL OR p.ClienteId = @ClienteId)
    ORDER BY p.Fecha DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[spPedidos_Obtener]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spPedidos_Obtener]
    @PedidoId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT p.Id, p.Fecha, p.ClienteId, c.Nombre AS Cliente, p.Total
    FROM dbo.Pedidos p
    JOIN dbo.Clientes c ON c.Id = p.ClienteId
    WHERE p.Id = @PedidoId;

    SELECT i.Id, i.ProductoId, pr.Nombre AS Producto, i.Cantidad, i.PrecioUnitario, i.Subtotal
    FROM dbo.PedidoItems i
    JOIN dbo.Productos pr ON pr.Id = i.ProductoId
    WHERE i.PedidoId = @PedidoId;
END

GO
/****** Object:  StoredProcedure [dbo].[spProductos_ActualizarStock]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spProductos_ActualizarStock]
    @ProductoId INT,
    @Delta INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Productos SET Stock = Stock + @Delta WHERE Id = @ProductoId;
END

GO
/****** Object:  StoredProcedure [dbo].[spProductos_Listar]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==== SOPORTE: PRODUCTOS ==== */
CREATE  PROCEDURE [dbo].[spProductos_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Nombre, Precio, Stock, Activo FROM dbo.Productos WHERE Activo = 1 ORDER BY Nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[spProductos_Obtener]    Script Date: 5/9/2025 13:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProductos_Obtener]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Nombre, Precio, Stock, Activo FROM dbo.Productos WHERE Id = @Id;
END

GO
USE [master]
GO
